
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
ENV/
env.bak/
venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Docker
*.log
*.pid
docker-compose.override.yml

# Python distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Local data files
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db
*.env
